

<h1 style="margin:30px ;">Usuários</h1>


<ul style="margin: 30px;">


<li>


    <a href="" style=" font-family: 'Gill Sans'; text-decoration: none;font-size: 35;background-color: aqua"> Excluir </a>
    <br>
    <a href="" style=" font-family: 'Gill Sans'; text-decoration: none;font-size: 35;background-color: aqua;"> Editar </a>


</li>



</ul>



<form action="" style="margin: 30px;">


    <input type="text">
    <button style="border-radius: 30;height: 25;width: 150;">ADD</button>




</form>